@font-face {
  font-family: 'ITC Avant Garde Pro';
  src: url(./ITCAvantGardePro-Md.otf) format('opentype');
}

@font-face {
  font-family: 'F77MinecraftRegular';
  src: url(./F77MinecraftRegular-0VYv.ttf) format('truetype');
}