---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Zamla | Bingo'>
  <main class='min-h-screen grid content-center text-center w-full'>
    <h1 class='text-6xl'>Bingo | Zamla</h1>
    <table class=' w-[10vw] text-3xl'>
      <tr>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
      </tr>
      <tr>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
      </tr>
      <tr>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
      </tr>
      <tr>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
      </tr>
      <tr>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
        <td>¿?</td>
      </tr>
    </table>
  </main>
</Layout>
