---
import Layout from "../layouts/Layout.astro"

---

<Layout title='Zamla | Inicio'>
  <main class="grid text-center content-center pb-40 bg-eyespyHome bg-cover bg-center bg-no-repeat min-h-screen text-teal-50 justify-center">
    <h1 class=" text-violet-400 text-5xl">CAMPEONATO ZAMLA</h1>
    <h2 class=" text-indigo-950 text-4xl">-EYE SPY-</h2>
  </main>
</Layout>