---
import Layout from "../layouts/Layout.astro";
import { BracketTournament } from "../components/BracketTournament.tsx";
---

<Layout title='Zamla | The Towers'>
  <h1 class='text-6xl'>The Towers | Zamla</h1>
  <BracketTournament client:load/>
</Layout>