<footer class='border-t-8 border-indigo-950 flex justify-around h-auto bg-violet-800 text-center items-center'>
  <section>
    <h6>Campeonato Zamla</h6>
    <a href="https://twitter.com/CampeonatoZamla">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
        <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
      </svg>
    </a>
  </section>
  <section>
    <h6>Desarrollado por</h6>
    <a href="https://twitter.com/GrupoKILAM">
      <img src="/KILAMLogo.png" alt="The logo of Group KILAM" width={150}>
    </a>
  </section>
  <section>
    <h6>Página por</h6>
    <a href="https://github.com/susarroDEV">
      <img src="/SusyLogo.png" alt="The logo of susarroDEV" width={70}>
    </a>
  </section>
</footer>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
